body {
  width:100%;
  background-color: antiquewhite;
}
#APS1{
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Abhay1{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    text-align: left;
    font-size: 200%;
    padding:1%;
}
/* .map1 {
  width: 10%;
  height: 100vh;
} */
#map { height: 180px; }

#namem{
  font-size: 30px;
}